<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<script>
		if (typeof module === 'object') {
			window.module = module;
			module = undefined;
		}
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script>
		if (window.module) module = window.module;
	</script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<link rel="stylesheet" href="master.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="autocomplete.css" type="text/css" media="screen" charset="utf-8">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<title>Query Gene's Branchpoints</title>
</head>

<body>

	<h1 id="title"><font color="black"><I><B>Web for Predicting and Querying Human Branchpoints</B></I></font></h1>


	<ul class="nav nav-tabs">
		<li role="presentation"><a href="home.html">Home</a></li>
		<li role="presentation"><a href="predict.html">Predict</a></li>
		<li role="presentation" class="active"><a href="query.html">Query Gene</a></li>
	</ul>

	<h4><B>Query Your Genes</B></h4>

	<p>
		<table>
			<tr>
				<td bgcolor="lavender">
					<font face="courier" size=2>1) Input a gene name to query;<br></font>
					<font face="courier" size=2>2) All introns for the gene are retrieved;<br></font>
					<font face="courier" size=2>3) The branchpoints will be predicted for each intron;<br></font>
					<font face="courier" size=2>4) The height of figure bars means probability of being branchpoint;<br></font>
					<font face="courier" size=2>5) Experimentally determined branchpoints marked "*";<br></font>
					<font face="courier" size=2>7) Click "download" button to download prediction scores.</font>

				</td>
			</tr>
		</table>
	</p>


	<div style="padding:10px" ng-app="MyApp" ng-controller="MyCtrl" ng-init="">
		<div class="ui-widget">
			<label for=gene ">Gene: </label>
  <input ng-model="gene " id="gene ">
<button ng-click="query() " class="btn-primary ">query</button>
<button ng-click="save() " class="btn-primary ">download</button>
</div>
<div>
<br></label><label>Intron Number</label>: {{introns.length}}
</div>
<div id="svgs " style="height:100%;overflow-y:scroll ">
	<div ng-repeat="i in introns " id="{{i.id}} " name="{{i.id}} " class="figure ">{{i.id}}</div>

</div>
<div id="footer "><em>Last updated: Oct. 26, 2015.<br />Wen Zhang (<a href="mailto:zhangwen@whu.edu.cn ">zhangwen@whu.edu.cn</a>)</em></div>

</div>


<script>
(function($,d3,ng){
var saveDataAsFile= function(data,filename) {
	var dataToWrite = JSON.stringify(data);
	var dataFileAsBlob = new Blob([dataToWrite], {type:'text/json'});
	var fileNameToSaveAs = filename;
	var downloadLink = document.createElement("a ");
	downloadLink.download = fileNameToSaveAs;
	downloadLink.innerHTML = "Download File ";
	if (window.webkitURL != null)
	{
		downloadLink.href = window.webkitURL.createObjectURL(dataFileAsBlob);
	}
	else
	{
		downloadLink.href = window.URL.createObjectURL(dataFileAsBlob);
		downloadLink.onclick = destroyClickedElement;
		downloadLink.style.display = "none ";
		document.body.appendChild(downloadLink);

	}
	downloadLink.click();
}

var app=ng.module("MyApp ",[]);
app.controller("MyCtrl ",function($scope){
var demo='{"jsonrpc ":"2.0 ","id ":"introns ","method ":"introns ","params ":["STAT1 "]}';
$scope.gene="STAT1 "
$.ajax( {
url:"/list ",
type:"GET ",
data: {},
dataType: "json ",
success: function(d) {
	$scope.genes=d.result
var limit=8;
 $("#gene " ).autocomplete({
      source: function(req,res) {
	    var results = $.ui.autocomplete.filter($scope.genes, req.term);
            res(results.slice(0, limit));
        },
	select: function(event, ui) {
		$scope.gene=ui.item.label
                $scope.query();
    	}
    });
}
})
var predict=function(i) {
	$.ajax(
		{ url:"/predict ",
		  data: {"seq ":i.seq.toUpperCase()},
		  dataType: "json ",
		  type: "GET ",
		  success: function(d) {
			i.result=d.result;
			$scope.$apply();
			render(i);
		  }
		}
		)
}

$scope.query = function() {
$.ajax({ url:"/introns ",
	 data: {"gene ":$scope.gene},
	 type: "GET ",
	 dataType: "json ",
         success: function(d) {
		$scope.introns=d.result;
		$scope.introns.forEach(function(d){
			getseq(d,predict);

		})
		$scope.$apply();
 	}
    })
}
$scope.save=function() {
	saveDataAsFile($scope.introns,$scope.gene+"_branchpoints.json ")
}
/* FIGURE SECTION */
var ncolor = { "A ":4,"a ":4,"C ":1,"c ":1,"G ":2,"g ":2,"T ":3,"t ":3}
var color = d3.scale.category10().domain([1,2,3,4,5,6,7,8,9,0]);
var ncolors = function(n) {
	if (ncolor[n]) {
	return color(ncolor[n]);
	} else {
	return "grey ";
	}
}
var barchart = function() {
var height=200;
var width=10;
var chart = function(selection) {
	selection.each(function(d,i){
	if(!d.result) {return}
	var scale=d3.scale.linear().range([height,0]);
	var minY=d3.min(d.result)
	var maxY=d3.max(d.result)
	scale.domain([minY,maxY])
	d3.select(this).selectAll(".v ").data(d.v).enter().append("text ")
	.attr("class ","v ")
	.attr("x ",function(d) { return (d[0]-10)*width})
	.attr("y ",function(d1) { var e=d.result[d1[0]-10]
	if(e>0) { return scale(e) }
	else { return scale(e)+10 }


	})
	.attr("font-size ","24 ")
	.text("* ")
	d3.select(this).selectAll("rect ").data(d.result).enter()
		.append("rect ")
		.attr("x ",function(d,i){return i*width})
		.attr("y ",function(d,i){return scale(Math.max(0,d))})
		.attr("height ",function(d,i){return Math.abs(scale(d)-scale(0))})
		.attr("width ",width-2)
		.attr("fill ",function(d0,i) {return ncolors(d.seq[i+10])})
		.append("title ")
		.text(function(d0,i){return d.seq[i+10]+": "+(i-50)+": "+(Math.round(d0*100)/100)})
	d3.select(this).append("text ")
	.attr("x ",-30)
	.attr("y ",scale(0)+5)
	.text("-50 ")
	d3.select(this).append("text ")
	.attr("x ",40*width)
	.attr("y ",scale(0)+5)
	.text("-11 ")
	 var yAxis = d3.svg.axis()
                  .scale(scale)
		.orient("right ")
			;
	var yG = d3.select(this).append("g ").attr("transform ","translate( "+(40*width+30)+") ")
                              .call(yAxis);
	var l = d3.select(this).append("g ").attr("transform ","translate( "+40*width+",20) ")
		.selectAll("g ").data(["A ","C ","G ","T "]).enter()
		.append("g ").attr("transform ",function(d,i){return "translate(5, "+i*20+") "})
		.append("text ")
		.text(function(d,i){return d})
		.attr("fill ",function(d,i){return ncolors(d)})

	}
	);
    }
return chart;
}

function render(i) {
		var barplot=barchart();
		console.log(i);
		var svg=d3.select('#'+i.id).datum(i).append("svg ").attr("height ","250px ").attr("width ","570px ");
		svg.append("g ").attr("transform ","translate(40,20) ").call(barplot);
	}

})

var getseq = function(i,handle) {
	$.ajax( {
		url:"http://genome.ucsc.edu/cgi-bin/das/hg19/dna?segment="+i.chr+" : "+(i.start+1)+", "+i.end,
		dataType:"xml ",
		success: function(d) {
			var seq=$(d).find("DNA:first ").text().replace(/\s/g,'')
			console.log(i);
			if(i.strand=="- ") {i.seq=rc(seq)}
			else {
				i.seq=seq;
			}
			handle(i);
		}
	  }
	 )
	}
var h = {
	"A ":"T ",
	"a ":"t ",
	"C ":"G ",
	"c ":"g ",
	"G ":"C ",
	"g ":"c ",
	"T ":"A ",
	"t ":"a ",
	"N ":"N ",
	"n ":"n "
}
var rc = function(seq) {
	var s=seq.split('')
	var r=[];
	s.reverse().forEach(function(d) {
		r.push(h[d])
	})
	return r.join('');
}
}(jQuery,d3,angular))
</script>

</div>


</body>
</html>
